<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Coins and Cryptocurrency Exchange</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>



	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>: <%= user.id %><br>
						<strong>username</strong>: <%= user.username %><br>
						<strong>coin</strong>: <%= user.coin %>
					</p>

			</div>
			<!--<div class="page-header text-center">-->
				<!--<h3>Deposit Coins</h3>-->
				<!--<a href="/ethdeposit" class="btn btn-default btn-sm">Ethereum</a>-->
			<!--</div>-->

		</div>

	</div>
	<div class="page-header text-center">
		<a href="/deposit" class="btn btn-default btn-sm">Deposit Coins</a>
	</div>
	<div class="page-header text-center">
		<a href="/withdraw" class="btn btn-default btn-sm">Withdraw Coins</a>
	</div>
	<script>
//		document.write('out='+document.get)
	</script>

</div>
</body>
</html>
